# 复制此文件为 .env，并填入你的 Supabase 项目信息
VITE_SUPABASE_URL=https://kvdcajhyvwivyfmyaeno.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2ZGNhamh5dndpdnlmbXlhZW5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NDQzNzAsImV4cCI6MjA5MzIyMDM3MH0.wLFJsOg5Gl1Pm-FISb88zqE5eoH-WwUB4-YYpFmYXuc
